@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');

:root {
    --red: #DA291C;
    --yellow: #FFD700;
    --blue: #006DB7;
    --green: #00AF4D;
    --white: #FFFFFF;
    --black: #000000;
    --cyan: #008B8B;
    --light-gray: #D3D3D3;
    --maxwidth: 800px;
    --rootsize: 20px;
}

body{
    width: 100%;
    max-width: var(--maxwidth);
    margin: 0 auto;
}

header {
    width: 100%;
    max-width: var(--maxwidth);
    border: 1px solid var(--light-gray);
    overflow: hidden;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 5rem;
}

nav{
    width: 100%;
    max-width: var(--maxwidth);
    margin: 0 auto;
    overflow: hidden;
    padding-top: 1.5rem;
    
}

nav button{
    background-color: var(--light-gray);
    border: none;
    color: var(--black);
    cursor: pointer;
    padding: 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
}

nav button.active{
    background-color: var(--cyan);
    color: var(--white);
}

.tab{
    display: none;
    padding: 6px 12px;
    border-top: 10px solid var(--cyan);
    border-left: 1px solid var(--light-gray);
    border-bottom: 1px solid var(--light-gray);
    border-right: 1px solid var(--light-gray);
    width: 100%;
    max-width: var(--maxwidth);
    margin: 0 auto;
    overflow: hidden;
    padding: 2rem;
}

h3{
    font-size: 20px;
    text-transform: uppercase;
}

div ul{
    padding: 1rem;
    padding-top: 0;
}

a{
    color: var(--cyan);
}